<h1><%= @customer. name %></h1>

<p>Your current wait is: <%= pluralize(wait_time_left(@customer.appointments[0].created_at, @customer.appointments[0].wait), 'minute') %> at <%= @restaurant.name %> </p>

<p><strong>Food: </strong><%= @restaurant.foods.first.content %></p>
<p><strong>Drink: </strong><%= @restaurant.drinks.first.content %></p>
<p><strong>Deals: </strong></p>
<p><strong>General: </strong></p>