<div class="well">
	<h1><%= @customer.name %></h1>

	<p>Current wait is:</p>
	<h1 class="well" id="wait-<%= @customer.appointments.last.id %>"></h1>
	<% wait_time_left(@customer.appointments.last.created_at, @customer.appointments.last.wait) %>
	<p>at <%= current_restaurant.name %></p>
	<%= image_tag current_restaurant.pic %>

	<p>
		<strong>See some food specials: </strong>
		<%= @restaurant.foods.last.content %>
	</p>
	<p>
		<strong>And some drink specials: </strong>
		<%= @restaurant.drinks.last.content %>
	</p>
	<p>See what's <%= link_to "nearby", customer_path %> while you wait </p>
</div>
<script>

var wait = { 
	"id" : "wait-<%= @customer.appointments.last.id %>",
	"wait" : "45:00"
};

change_time();

function change_time(){
	if (wait["wait"] != "0"){
	 			countdown(wait["wait"]);
				setTimeout(change_time, 1000);
	}
	else if (wait["wait"] == "0"){
	 			alert("Your table is ready!");
	}
	
};

function countdown(){
	/*if (wait["wait"] > 15){
		wait_new = parseInt($('#'+wait["id"]).html());
		$('#'+wait["id"]).html(wait_new);
		wait["wait"] -= 1;
		return wait;
	}
	else if (wait["wait"] == 15){
		wait["wait"] = "14:59";
		$('#'+wait["id"]).html(wait["wait"]);
		setTimeout(countdown(wait), 1000);
	}*/
	//else {
		//wait["wait"] = $('#'+wait["id"]).html();
		var time_array = wait["wait"].split(':');
		time_array[0] = parseInt(time_array[0]);
		if (isNaN(time_array[1])){
			time_array[1] = 0;
		}
		else {
			if (time_array[1].substr(0,1) == "0"){
				time_array[1] = parseInt(time_array[1].substr(1,1));
			}
			else {
				time_array[1] = parseInt(time_array[1]);
			}
		}
		if (time_array[0] == 0 && time_array[1] == 0){
			$('#alerts_header').append("<p>" + new Date() + "Party " + wait['id'] + " is ready!</p>");
			wait["wait"] = "0";
			return wait;
		}
		else if (time_array[1] == 0){
			time_array[0] -= 1;
			time_array[1] = 59;
			var val = time_array[0] + ':' + time_array[1];
			$('#'+wait["id"]).html(val);
			wait["wait"] = val;
			return wait;
		}
		else {
			time_array[1] -= 1;
			if (time_array[1] < 10){
				time_array[1] = "0"+time_array[1];
			}
			var val = time_array[0] + ':' + time_array[1];
			$('#'+wait["id"]).html(val);
			wait["wait"] = val;
			if (time_array[0] == 0 && time_array[1] == 0){
				$('#alerts_header').append("<p>" + new Date() + "Party " + wait['id'] + " is ready!</p>");
				return wait;
			}
			else {
				return wait;
			}
		}			
};


</script>