<h1>Main Menu</h1><br />

<%= link_to "Today's queue", appointments_path %> <%= current_restaurant.appointments.today_queue.count %><br />
<%= link_to "Most recent posts", posts_path %> <%= current_restaurant.posts.count %><br />
<%= link_to "Metrics", metrics_path %><br />
<%= link_to "Archive queue", "/appointments/archive" %> <%= current_restaurant.appointments.archive_queue.count %><br />
<%= link_to "Layout", layout_path %>

