%h1== Wow.  You have #{pluralize(@post_count, 'post')}

.row.fluid
  .well
    = link_to "Compose a new one", new_post_url

.row-fluid
  .span5.well
    %p== Food (#{@food_specials.count})
    = image_tag("http://i-cdn.apartmenttherapy.com/uimages/kitchen/2008_04_15-PlaneFood.jpg", style: 'max-width: 250px;')
    %p Here are your latest posts
    %ul
      - ctr = 0
      - @food_specials.each do |special|
        %li
          = link_to "#{special.content}", post_path(special.post.id)
          == #{time_ago_in_words(special.created_at)} ago
          = link_to 'Edit', edit_post_url(special.post.id)
          = link_to 'X', post_url(special.post.id), :method => :delete, :confirm => 'Are you sure?'
          - ctr += 1
          - break if ctr == 5
  .span5.well
    %p== Drink (#{@drink_specials.count})
    = image_tag("http://static.freepik.com/free-photo/glass-full-glass-of-wine-celebration-food-drink_3114466.jpg", style: 'max-width: 250px;')
    %ul
      - ctr = 0
      - @drink_specials.each do |special|
        %li
          = link_to "#{special.content}", post_path(special.post.id)
          == #{time_ago_in_words(special.created_at)} ago
          = link_to 'Edit', edit_post_url(special.post.id)
          = link_to 'X', post_url(special.post.id), :method => :delete, :confirm => 'Are you sure?'
          - ctr += 1
          - break if ctr == 5
