<!-- <p>
	Open: <%= pluralize(@appointments.count, 'appointment')%>
	| Your average wait time is <%= pluralize(@avg_wait_time,'minute')%>
	| 2: <%= pluralize(party_wait_time(2),'minute')%>
	| 4: <%= pluralize(party_wait_time(4),'minute')%>
	| 6: <%= pluralize(party_wait_time(6),'minute')%>
</p> -->
<table class="table">
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "party" %></th>
    <th><%= sortable "wait", "Wait time" %></th>
	<th><%= sortable "phone" %></th>
	<th><%= sortable "created_at", "Start" %></th>
  </tr>
<% @appointments.each do |appt| %>	
	<tr>
	    <td><%= appt.name %></td>
		<td><%= appt.party %></td>
	    <td id="wait_count-<%= appt.id %>"><%= wait_time_left(appt.created_at, appt.wait) %></td>
		<td>
			<% if appt.phone.present? %>
				<%= button_to "#{appt.phone}", "/text-message?phone=#{appt.phone}&id=#{appt.id}", :confirm => "SMS customer?" %>
			<% end %>
		</td>
		<td id="start<%= appt.id %>"><%= appt.created_at.strftime('%l:%M %p') %></td>
		<td><%= button_to 'X', appointment_url(appt.id) , :method => :delete, :confirm => 'Are you sure?' %></td>
		<% if appt.location.present? %>
			<% if appt.location == 'outdoor'%>
				<td><%= button_to 'Seat Outside', "/seat/#{appt.id}?location=outside" %></td>
			<% elsif appt.location == 'indoor' %>
				<td><%= button_to 'Seat Inside', "/seat/#{appt.id}?location=inside" %></td>
			<% end %>
		<% end %>
	</tr>
<% end %>
</table>
