<section class="well">
	<h1>Today's appointment: <%= Time.now.strftime("%B #{Time.now.day.ordinalize}, %Y") %>&nbsp;&nbsp;<span id="clock"></span></h1>
	<%= render :partial => 'form' %>
	<%= button_tag 'Book & seat now!', :id => "book_and_seat" %>
	<%= form_tag appointments_path, :method => :get, :id => "search_form", :class => 'form-search' do %>
		<%= hidden_field_tag :direction, params[:direction] %>
		<%= hidden_field_tag :sort, params[:sort] %>
	  <p>
	    <%= text_field_tag :search, params[:search], :autocomplete => "off", :placeholder => "Search by name..." %>
	    <%= submit_tag "Search", :name => nil %>
	  </p>
	<% end %>
</section>

<div id="results" style="display: none;"><%= render :partial => 'results' %></div>

<div id="alerts">
	<span id="alert_title">Alerts:</span>
	<div id="alerts_header"  style="overflow-y:scroll; height: 100px;">
	</div>
</div>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Waiting</a></li>
    <li><a href="#tab2" data-toggle="tab">Sitting</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
			<% if @appointments_sorted.count == 0 %>
				<h3>No appointments for unseated guests right now. Phew. Nice work friend!</h3>
			<% elsif @appointments_sorted.count == 1 %>
				<ul class="well span4">
					<h3>Party: <%= @appointments_sorted.first.party %> 
						<span class="pull-right">
								Wait: <%= estimated_wait_time(@appointments_sorted.first.party) %>
						</span>
					</h3>
				<li>
					<span class="span2"><%= @appointments_sorted.first.name %></span>
					<span id="wait_count-<%= @appointments_sorted.first.id %>"><%= wait_time_left(@appointments_sorted.first.created_at, @appointments_sorted.first.wait) %></span>
					<%= link_to 'X', appointment_url(@appointments_sorted.first.id) , :method => :delete, :confirm => 'Are you sure?' %>
					<%= link_to 'Seat', "/seat?id=#{@appointments_sorted.first.id}", :method => :post %>
				</li>
				</ul>
			<% else %>
	      <% party_size = 0 %>
				<% @appointments_sorted.each_cons(2) do |appt, next_appt| %>
					<% if party_size != appt.party %>
						<% party_size = appt.party %>
						<ul class="well span4">
							<h3>Party: <%= appt.party %> 
								<span class="pull-right">
										Wait: <%= estimated_wait_time(appt.party) %>
								</span>
							</h3>
					<% end %>
						<li>
							<span class="span2"><%= appt.name %></span>
							<span id="wait_count-<%= appt.id %>"><%= wait_time_left(appt.created_at, appt.wait) %></span>
							<%= link_to 'X', appointment_url(appt.id) , :method => :delete, :confirm => 'Are you sure?' %>
							<%= link_to 'Seat', "/seat?id=#{appt.id}", :method => :post %>
						</li>
					<% if next_appt == @appointments_sorted.last %>
						<% if appt.party != next_appt.party %>
							</ul>
							<ul class="well span4">
								<h3>Party: <%= next_appt.party %>
									<span class="pull-right">
										Wait: <%= estimated_wait_time(next_appt.party) %>
									</span>
								</h3>
								<li>
									<span class="span2"><%= next_appt.name %></span>
									<span id="wait_count-<%= next_appt.id %>"><%= wait_time_left(next_appt.created_at, next_appt.wait) %></span>
									<%= link_to 'X', appointment_url(appt.id) , :method => :delete, :confirm => 'Are you sure?' %>
									<%= link_to 'Seat', "/seat?id=#{next_appt.id}", :method => :post %>
								</li>
							</ul>
						<% else %>
								<li>
									<span class="span2"><%= next_appt.name %></span>
									<span id="wait_count-<%= next_appt.id %>"><%= wait_time_left(next_appt.created_at, next_appt.wait) %></span>
									<%= link_to 'X', appointment_url(appt.id) , :method => :delete, :confirm => 'Are you sure?' %>
									<%= link_to 'Seat', "/seat?id=#{next_appt.id}", :method => :post %>
								</li>
							</ul>
						<% end %>
					<% end %>
					<% if appt.party != next_appt.party %>
						</ul>
					<% end %>
				<% end %>
		<% end %>
    </div>
    <div class="tab-pane" id="tab2">
      <h3>What's available</h3>
			<% @table_types.each do |table| %>
				<ol class="well span4">
					<h3><%= image_tag "http://www.gettyicons.com/free-icons/125/miscellaneous/png/256/table_256.png", :style => 'max-width: 30px;' %>
					<%= table.size %>-top (
						<% if table.location == "Outdoor" %>
									<%= image_tag "http://icons.iconarchive.com/icons/weer/weather/128/sun-icon.png", :style => 'max-width: 30px;' %>
						<% else %>
									<%= image_tag "http://www.adamsonroofing.ca/images/roof_icon.png", :style => 'max-width: 30px;'%>
						<% end %>
							)
					Wait: <%= estimated_wait_time(table.size) %>
					</h3>
						<% @size = 0 %>
						<% @people_eating.each do |people| %>
							<% if people[:appointments].first.table_size_fit_and_turnover[:size] == table.size %>
								<% @size = people[:appointments].length %>
								<% people[:appointments].each do |appt| %>
									<li>
										<%= appt.name %>
										<span id="wait_count-<%= appt.id %>"><%= dinner_time_left(appt.seated_at, table.turnover) %></span>
										<%= link_to 'Done', done_eating_path(appt.id), :method => :post %>
									</li>
								<% end %>
								<% (table.quantity - @size).times do %>
									<li></li>
								<% end %>
							<% end %>
						<% end %>
						
						<% if @size == 0 %>
							<% table.quantity.times do %>
								<li></li>
							<% end %>
						<% end %>
				</ol>
			<% end %>
    </div>
  </div>
</div>

<script>
	$(document).ready(function(){
		
		$('#book_and_seat').bind('click', function(){
			$.post("/book-and-seat", { name: $('#appointment_name').val(), party: $('#appointment_party :selected').text(), phone: $('#appointment_phone').val() }, null, 'script');
			return false;
		});
		
		$('#results th a').live('click', function () {
		    $.getScript(this.href);
		    return false;
		});
		
		$('#search').keyup(function(){
			$.get($('#search_form').attr('action'), { search: $('#search').val() }, null, 'script');
			return false;
		});
		
		$('#search').focus(function(){
			$('#results').slideDown();
		});
		
		$('#search').blur(function(){
			$('#results').slideUp();
		});
		
		// var wait_a = $('td[id|="wait_count"]');
		// 		var wait_object = [];
		// 		for(var i=0; i < wait_a.length; i++){
		// 				var wait = { "id" : "", "wait": ""};
		// 				wait["id"] = wait_a[i].id;
		// 				wait["wait"] = wait_a[i].innerHTML;
		// 				console.log(wait["wait"]);
		// 				wait_object.push(wait);
		// 		}
		
		var wait_object = [	<% @all_appointments.each do |appt| %>
								{ "id" : "wait_count-<%= appt.id %>",
									<% if appt.seated == true %>
								  	"wait" : "<%= wait_time_left(appt.seated_at, appt.table_size_fit_and_turnover[:turnover]) %>",
									<% else %>
										"wait" : "<%= wait_time_left(appt.created_at, appt.wait) %>",
									<% end %>
									"name" : "<%= appt.name %>",
									"seated" : "<%= appt.seated %>"
								}
							<% if appt != @all_appointments.last %>,<% end %>
						<% end %>
		];
		
		change_timers();
		show_alerts();
		
		function show_alerts(){
			for(var i=0; i < wait_object.length; i++){	
					if (wait_object[i]["wait"] == "0" && wait_object[i]["seated"] == "false"){
			 			$('#alerts_header').append("<p>" + new Date() + "Party " + wait_object[i]["name"] + " is ready! <a class='alert_close'>X</a></p>");
					}
			}
		};
		
		function change_timers(){
			for(var i=0; i < wait_object.length; i++){	
					if (wait_object[i]["wait"] != "0"){
			 			wait_object[i] = countdown(wait_object[i]);
					}
			}
			setTimeout(change_timers, 1000);
		};
		
		function countdown(wait){
			/*if (wait["wait"] > 15){
				wait_new = parseInt($('#'+wait["id"]).html());
				$('#'+wait["id"]).html(wait_new);
				wait["wait"] -= 1;
				return wait;
			}
			else if (wait["wait"] == 15){
				wait["wait"] = "14:59";
				$('#'+wait["id"]).html(wait["wait"]);
				setTimeout(countdown(wait), 1000);
			}*/
			//else {
				//wait["wait"] = $('#'+wait["id"]).html();
				var time_array = wait["wait"].split(':');
				time_array[0] = parseInt(time_array[0]);
				if (isNaN(time_array[1])){
					time_array[1] = 0;
				}
				else {
					if (time_array[1].substr(0,1) == "0"){
						time_array[1] = parseInt(time_array[1].substr(1,1));
					}
					else {
						time_array[1] = parseInt(time_array[1]);
					}
				}
				if (time_array[0] == 0 && time_array[1] == 0){
					$('#alerts_header').append("<p>" + new Date() + "Party " + wait['id'] + " is ready!</p>");
					wait["wait"] = "0";
					return wait;
				}
				else if (time_array[1] == 0){
					time_array[0] -= 1;
					time_array[1] = 59;
					var val = time_array[0] + ':' + time_array[1];
					$('#'+wait["id"]).html(val);
					wait["wait"] = val;
					return wait;
				}
				else {
					time_array[1] -= 1;
					if (time_array[1] < 10){
						time_array[1] = "0"+time_array[1];
					}
					var val = time_array[0] + ':' + time_array[1];
					$('#'+wait["id"]).html(val);
					wait["wait"] = val;
					if (time_array[0] == 0 && time_array[1] == 0){
						$('#alerts_header').append("<p>" + new Date() + "Party " + wait['id'] + " is ready!</p>");
						return wait;
					}
					else {
						return wait;
					}
				}			
		};
		
		update_clock();
		function update_clock(){
			var currentTime = new Date ( );
			
			var currentHours = currentTime.getHours ( );
			var currentMinutes = currentTime.getMinutes ( );
			var currentSeconds = currentTime.getSeconds ( );

			  	// Pad the minutes and seconds with leading zeros, if required
			  currentMinutes = ( currentMinutes < 10 ? "0" : "" ) + currentMinutes;
			  currentSeconds = ( currentSeconds < 10 ? "0" : "" ) + currentSeconds;

			  // Choose either "AM" or "PM" as appropriate
			  var timeOfDay = ( currentHours < 12 ) ? "AM" : "PM";

			  // Convert the hours component to 12-hour format if needed
			  currentHours = ( currentHours > 12 ) ? currentHours - 12 : currentHours;

			  // Convert an hours component of "0" to "12"
			  currentHours = ( currentHours == 0 ) ? 12 : currentHours;

			  // Compose the string for display
			  var currentTimeString = currentHours + ":" + currentMinutes + ":" + currentSeconds + " " + timeOfDay;

			  // Update the time display
			  $('#clock').html(currentTimeString);
			setTimeout(update_clock, 1000);
		};
	
		$('.alert_close').on('click', function(){
			$(this).parent().remove();
			var num_alerts = $('#alerts_header').children().length - 1
			$('#alert_title').html('You have '+num_alerts+' alerts');
		});
		
		var num_alerts = $('#alerts_header').children().length - 1
		$('#alert_title').html('You have '+num_alerts+' alerts');
		
	});

</script>
